body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    background-image: url(../img/doutor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #0099cc;
    padding: 20px;
    color: #fff;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: transform 0.3s ease;
    font-size: large;

}
nav a:hover{
    transform: scale(1.1);
}

.container {
    width: 600px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #0099cc;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}